.div-header {
    height: 120px;
    border-bottom: 1px solid #B5ABAA;
    width: 1920px;
    display: flex;
    align-items: center;
    background-color: #EDE8E7;
}

.header-main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.div-image-logo {
    display: flex;
    align-items: center;
    height: 120px;
    margin-top: 20px;
}

.div-link ul {
    display: flex;
    list-style: none;
    height: 120px;
    align-items: center;
}

.div-link ul li {
    padding-right: 40px;
}

.div-link ul li a {
    color: #311C1C;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    line-height: 25px;

}

.div-link ul li a:hover {
    text-decoration: underline;
}

.div-link-icon ul {
    display: flex;
    list-style: none;
    height: 120px;
    align-items: center;
}

.div-link-icon ul li {
    padding-right: 52px;
}

.div-link-icon ul li a {
    color: #311C1C;
}

/* Content */
/* content-carousel */
.content-main {
    width: 1920px;
    height: 830px;
    background-color: #EDE8E7;
}

.content-carousel {
    height: 100%;
    width: 75%;
    margin: 0 auto;
    border-left: 1px solid #B5ABAA;
    position: relative;
}

.carousel-image {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    left: -50px;
}

.carousel-image-2 {
    margin-left: 108px;
}

.h1-lit {
    font-style: italic;
    font-weight: 700;
    font-size: 96px;
    line-height: 120px;
    position: absolute;
    top: 79px;
    left: 690px;
    margin: 0;
}

.h1-collection {
    font-style: italic;
    font-weight: 700;
    font-size: 96px;
    line-height: 120px;
    position: absolute;
    top: 199px;
    left: 860px;
    margin: 0;
}

.carousel-image-3 {
    position: absolute;
    left: 730px;
    bottom: 80px;
    margin: 0;
}

.carousel-button {
    position: absolute;
    left: 1120px;
    bottom: 396px;
    margin: 0;
}

.button-see-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 96px;
    gap: 10px;
    color: #FFFFFF;
    background-color: #E36709;
    border: none;
    cursor: pointer;
}

.line-6 {
    height: 290px;
    border: 1px solid #B5ABAA;
    position: absolute;
    bottom: 0;
    right: 0;
}

.carousel-icon {
    position: absolute;
    right: -23px;
    bottom: 89px;
}

.carousel-icon ul {
    list-style: none;
}

.carousel-icon ul li {
    margin-bottom: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #FAFAFA;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-icon ul li a {
    color: #311C1C;
}

/* Best seller*/
.content-best-seller {
    width: 1920px;
    padding-top: 120px;
}

.best-seller-title {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.title-seller {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #311C1C;
}

.button-view-all-seller {
    color: #E36709;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Mulish';
    background-color: #FFFFFF;
    cursor: pointer;
}

.button-view-all-seller:hover {
    text-decoration: underline;
}

.best-seller-card {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.div-card {
    border: 1px solid #B5ABAA;
    padding: 12px;
    text-align: center;
    margin-right: 48px;
}

.div-card h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #311C1C;
}

.div-card del {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #B5ABAA;
}

.div-card p {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #311C1C;
}